@import "../../../assets/style/main.scss";

#snack-bar {
    direction: rtl;
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 250px;
    height: 100px;
    visibility: hidden;
    color: black;
    border-radius: 10px;
    background: $grey;
    overflow: hidden;

}

.snack-bar-text-icon {
    position: relative;
    width: 100%;
}

.snack-bar-message {
    text-align: center;
}

.close {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: 0 0;
    border: none;
    color: currentColor;
    font-family: inherit;
    font-size: 1em;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 0.75rem 1rem;

}

#snack-bar.show {
    visibility: visible;
}


#snack-bar.show {
    animation: show 0.5s forwards;
}

@keyframes show {
    0% {
        transform: translate(-15px, 15px) scale(0);
    }

    50% {
        transform: translate(-15px, 15px) scale(1.2);
    }

    70% {
        transform: translate(-15px, 15px) scale(0.9);
    }

    100% {
        transform: translate(-15px, 15px) scale(1);
    }
}

#snack-barBar {
    height: 2px;
    background-color: $yellow;
    color: white;
}

#snack-barProgress {
    position: absolute;
    bottom: 0;
    background: #323232;
    width: 100%
}