@import '../../../assets/style/main.scss';

.side-menu-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    & .icon {
        width: 35px;
        margin: $margin-xl auto 150px auto;

        & div {
            width: 35px;
            height: 3.2px;
            border-radius: 5px;    
            background-color: $white;
            margin: 7px 0;

            &:nth-child(2) {
                width: 20px;
            }
        }
    }

    & .menu-items {
        display: flex;
        flex-direction: column;

        & .item {
            width: 85%;
            margin-left: auto;
            padding: 15px 20px;
            font-weight: 300;
            border-radius: 20px 0 0px 20px;
            text-decoration: inherit;
            color: $white;
            margin-bottom: $margin-medium;
            font-size: 17px;
            text-transform: capitalize;
            transition: all ease-in-out .3s;
        }

        & .item-active {
            background: $yellow;

        }
    }
}