
@import '../../../../assets/style/main.scss';

.delivery-wrapper {
    width: 100%;
    height: 100%;

    & .add-item-button {
        border: none;
        @include button;
        margin: $margin-medium 0;
        // margin-left: $margin-xl;
        font-size: $text-size-medium;
    }
}