@import '../../../assets/style/main.scss';

.items-list-wrapper {

    & .titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $grey;
        padding: 20px;

        & .title {
            text-transform: capitalize;
            font-size: $text-size-medium;
            width: 20%;
            text-align: center;
            font-weight: 500;
        }
    }

    & .items {
        margin-top: $margin-medium;

        & .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;

            &:nth-child(odd) {
                background-color: $yellow;
            }

            &:nth-child(even) {
                background-color: rgba($color: $yellow, $alpha: .3);
            }

            & * {
                width: 20%;
                text-align: center;
                font-size: $text-size-medium;
                text-transform: capitalize;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            & button {
                cursor: pointer;
                background: none;
                border: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}